body 
{
 background-color:  rgb(141, 113, 170);
}


.favorite-counter
{
 display: inline-block;
 width: 60px; 
 height: 30px; 
 margin: 0px 30px; 
 padding: 5px;
 color: white;
 font-size: 18px;
 text-align: center;
 justify-content: center;
 line-height: 30px;
 background: rgb(66, 25, 112);
 border: 0.5px solid white;
 border-radius: 20px;
}